body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.materias{
    width: 90%;
    background: #ccc;
    padding:.2em;
}

.materia{
    background: #efefef;
    padding: .5em;
    display: flex;
}

.materia div{
    padding: .8em;
}
.materia .nota{
    flex-basis: 1em;
    background: #ababab;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.materia .nombre{
    flex-grow: 1;
    color: blue;
}

.green{
    color: #0f0;
}

.red{
    color: red;
}